<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src='main.js'></script>
</head>
<body>
    <div class="container">
        <div class="row m-5">
            <div class="col-md-12">
                <h2>CV Database Profile List</h2>
            </div>
        </div>
        {% for profile in profile %}
        <div class="row">
            <div class="col-md-6">
                {{profile.name}}
            </div>
            <div class="col-md-6">
                <a href="/{{profile.id}}" class="btn btn-warning">Download CV</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>